.country-list-container{
    display: flex;
    flex-grow: 1;
    margin-top: 2em;
    justify-content: space-between;  
     
}

.search-sort-pagination{
   display: flex; 
   margin-right: 2em;
}

.round-button{
    border: 1px solid #073eff;
    box-shadow:  rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    
    height: 2em;
    border-radius: 50%;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #073eff;
}

.round-button:hover{
    color: white;
    background: #073eff;
    transition: 200ms ease-in-out;
}

.edit-button-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.covid-box-title{
    color: rgb(90, 90, 90);
}
.covid-box-data{
    font-weight: 600;
    font-size: .95em;
}

.card-container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #073eff;
}
.card-container:hover{
    transition: 400ms ease-in-out;
    background: #d3dcff;
}
.round-pagination-button{
    border-radius: 50%;
    height: 2em;
    background: white;
    color: #073eff;
    width: 2rem;
    border: 2px solid #80808040;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.round-pagination-button:disabled{
    color: grey;
    background: rgb(231, 231, 231);
}

.round-pagination-button:hover:not([disabled]){
    background: rgba(255, 255, 255, 0.945);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 300ms ease-in-out;
}

.custom-select{
    color: grey
}
.custom-select option:disabled{
    color: rgb(206, 206, 206)
}