<div class="row container mt-4">
    <div class="col-md-4">
        <h3>Countries</h3>
    </div>
    <div class="col-md-8 ml-auto">
        <!-- <div class="search-sort-pagination"> -->
            <div class="row">
                <div class="col-md-4 mb-2">
                    <div class="form-group mr-1">
                        <div class="input-group mr-1">
                            <input type="text" [(ngModel)]="searchText" (ngModelChange)="searchByCountry()"
                                placeholder="Search" class="form-control">
                            <div class="input-group-append pointer" *ngIf="searchText" (click)="clearSearch()">
                                <span class="input-group-text"> &times;</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <select class="form-select custom-select" [(ngModel)]="sortValue" (ngModelChange)="sort($event)">
                            <option value="" selected disabled>Sort by</option>
                            <option value="name">Name</option>
                            <option value="cases">Cases</option>
                            <option value="deaths">Deaths</option>
                            <option value="recovered">Recovered</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div>
                        <span class="mr-1 color-grey">
                            {{(currentPage-1)*30 +1}} to {{currentPage*30>covidByCountry.length? covidByCountry.length:
                            currentPage*30}} of
                            {{covidByCountry.length}}
                        </span>

                        <button class="round-pagination-button mr-1" (click)="pagination('previous')"
                            [disabled]="currentPage <= 1">
                            <i class="fa fa-angle-left"></i>
                        </button>

                        <button class="round-pagination-button" (click)="pagination('next')"
                            [disabled]="currentPage >= covidByCountry.length/30"> <i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>


<div class="row container mt-3">
    <ng-container *ngIf="covidByCountry.length > 0 && !isLoading">
        <ng-container *ngFor="let item of covidByCountry; let i = index">
            <div class="col-md-6 col-lg-4" *ngIf="(currentPage-1)*30 <= i  && i < currentPage*30"
                (click)="goToEdit(item?.countryInfo?._id)">
                <div class="card card-container pointer p-3 mb-4 d-flex justify-content-center align-items-center">
                    <div class="d-flex w-100 p-2 align-items-center" style="color: #073eff;">
                        <img [src]="item?.countryInfo?.flag" style="max-height: 3.5em;" alt="" class="img-fluid mr-1">
                        <p style="font-size: 1.4em;" class="mb-0">{{item?.country}}</p>
                    </div>
                    <div class="row w-100 mt-1">
                        <div class="col-md-4 col-xs-6 mb-1">
                            <span class="covid-box-title">Cases</span> <br> <span class="covid-box-data"> {{item?.cases|
                                number:'1.0':'en-US'}}</span>
                        </div>
                        <div class="col-md-4 mb-1">
                            <span class="covid-box-title">Deaths </span> <br><span class="covid-box-data">
                                {{item?.deaths|
                                number:'1.0':'en-US'}}</span>
                        </div>
                        <div class="col-md-4 mb-1">
                            <span class="covid-box-title">Recovered </span> <br><span class="covid-box-data">
                                {{item?.recovered|
                                number:'1.0':'en-US'}}</span>
                        </div>
                        <div class="col-md-4 mb-1">
                            <span class="covid-box-title">Tests </span> <br><span class="covid-box-data"> {{item?.tests|
                                number:'1.0':'en-US'}}</span>
                        </div>
                        <div class="col-md-4 mb-1">
                            <span class="covid-box-title">Population </span> <br><span class="covid-box-data">
                                {{item?.population|
                                number:'1.0':'en-US'}}</span>
                        </div>
                        <div class="col-md-4 mb-1 edit-button-container">
                            <div class="round-button"><i class="fa fa-pencil"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="covidByCountry.length == 0 && !isLoading">
        <div class="col-md-12">
            <div class="card text-center" style="padding: 8em 0em;">
                <i style="color: #426bff;" class="fa fa-search fa-3x mb-2"></i>
                <p style="font-size: 1.2em;">
                    Sorry, Can't find a country matching your result
                </p>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="isLoading">
        <div class="col-md-12">
            <div class="card text-center" style="padding: 8em 0em;">
             <app-loader [message]="'Loading countries'"></app-loader>
            </div>
        </div>
    </ng-container>
</div>